<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="logs\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <!--输出样例：2021-01-04 21:55:29.1759||INFO|WebApiHelper.Controllers.MyApiController|hhahahh完成了 |url: https://localhost/api/myapi/Hello|action: Hello-->

    <target xsi:type="File" name="globalActionFilter" fileName="logs\globalActionFilter\nlog-globalActionFilter-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    
    <target xsi:type="File" name="ownFile-web" fileName="logs\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <!-- 记录微软所有日志，一般不开 -->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs 跳过微软日志输出-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    
    <!--日志级别：Trace -》Debug-》 Information -》Warning-》 Error-》 Critical
	      日志级别由小到大， Trace 就包含了所有日志。
	      如果想修改日志的输出级别，应该在 nlog.config 中修改 minlevel="Trace"
	      试了一下， Critical 与 Fatal 的输出是一致的。-->
    <!--final 属性表示 如果匹配到了该规则 则下边的匹配规则不再匹配-->
    
    <!--WebApiHelper.Filters.MyGlobalActionFilter 此filter中的日志输出配置-->
    <logger name="WebApiHelper.Filters.MyGlobalActionFilter" minlevel="Information" maxlevel="Warning" writeTo="globalActionFilter" final="true" />
    
    
    <logger name="*" minlevel="Information" writeTo="ownFile-web" />
  </rules>
</nlog>